<footer class="footer">
    <article class="yellow__footer">
        <div class="container-fluid">
            <div class="row">
                <div class="yellow__footer-contacts col-md-6 col-sm-12">
                    <address class="footer__town">
                        <div class="town__name">Київ</div>
                        <div class="points">...........................</div>
                        <a href="+380503121519" class="town__tel">+38 (050) 312 15 19</a></address>
                    <address class="footer__town">
                        <div class="town__name">Харків</div>
                        <div class="points">...........................</div>
                        <a href="+380664367980" class="town__tel">+38 (066) 436 79 80</a></address>
                    <address class="footer__town">
                        <div class="town__name">Полтава</div>
                        <div class="points">...........................</div>
                        <a href="+380997389050" class="town__tel">+38 (099) 738 90 50</a></address>
                    <address class="footer__town">
                        <div class="town__name">Львів</div>
                        <div class="points">...........................</div>
                        <a href="+380682567133" class="town__tel">+38 (068) 256 71 33</a></address>
                    <address class="footer__mail">

                        <a href="mailto:partyboxua@gmail.com"><span class="envelope"><img src="img/pb2-08.svg"
                                                                                          alt=""></span>partyboxua@gmail.com</a>
                    </address>
                </div>
                <div class="yellow__footer-form col-md-6 col-sm-12">
                    <div class="form__text">Зв'яжіться з нами або залиште заявку на зворотній дзвінок та наш менеджер
                        передзвонить Вам!
                    </div>
                    <form id="footerform" class="form__field">
                        <div class="form-group footer__tel-input">
                            <label for="tel"></label>
                            <input type="text" name="tel" class="form__input" id="tel" placeholder="0ХХ ХХХ ХХ ХХ">
                        </div>
                        <label for="popup__order-btn" class="form__label"></label>
                        <input class="form__button" type="submit" value="ВІДПРАВИТИ" id="popup__order-btn">

                    </form>

                </div>
            </div>
        </div>
    </article>
    <article class="black__footer">
        <div class="container-fluid">
            <div class="row">
                <div class="black__footer-left col-md-6 col-sm-12">
                    <div class="footer__nav-left">
                        <ul>
                            <li><a href="about-ukr.html">Про Party Box</a></li>
                            <li><a href="franshize-ukr.html">Франшиза</a></li>
                            <li><a href="contacts-ukr.html">Контакти</a></li>
                            <li><a href="map-ukr.html">Мапа сайту</a></li>
                        </ul>
                    </div>
                    <div class="footer__nav-right">
                        <ul>
                            <li><a href="services-ukr.html">Послуги</a></li>
                            <li><a href="photobooth-ukr.html">Party Box photobooth</a></li>
                            <li><a href="chromakey-ukr.html">Party Box chromakey (green screen)</a></li>
                            <li><a href="instaprinter-ukr.html">Party Box instagram printer</a></li>
                            <li><a href="sharstation-ukr.html">Party Box sharing station</a></li>
                            <li><a href="props-ukr.html">Party Box props</a></li>
                            <li><a href="more-ukr.html">Додатково</a></li>
                        </ul>
                    </div>
                </div>
                <div class="black__footer-right col-md-6 col-sm-12">
                    <div class="footer__order">
                        <div class="its__time">Самий час...</div>
                        <a href="" class="order__button">Замовити <span>PARTY</span> box</a></div>
                    <div class="footer__socials">
                        <p>Ми у соціальних мережах</p>
                        <div class="socials__icon">
                            <a href="https://www.facebook.com/partyboxcomua" class="footer__socials-link">
                                <img src="img/pb2-09.svg" alt=""></a>
                            <a href="https://www.instagram.com/partyboxua" class="footer__socials-link">
                                <img src="img/pb2-10.svg" alt=""></a>
                            <a href="https://vk.com/partyboxua" class="footer__socials-link">
                                <img src="img/pb2-11.svg" alt=""></a></div>
                    </div>
                </div>

            </div>
        </div>
        </div>

    </article>
</footer>

</body>
<script src="js/jquery-3.1.1.min.js"></script>
<!--<script src="js/bootstrap.min.js"></script>-->
<script src="js/jquery.bxslider.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
<script src="js/main.js"></script>
</html>