//tools
@import "_misc/mixins";
@import "_misc/normalize";
//fonts
@import "fonts";
@import "../fonts/font-awesome.css";

//partials
@import "partials/footer";
@import "partials/main_nav";
@import "partials/animanions";

* {
  @include box-sizing(border-box);

}

html, body {
  height: 100%;
  font-family: 'NeoSansW1G', Optima, sans-serif;;
  width: 100%;
  line-height: 1.42;
  position: relative;
}

* {
  outline: 0 !important
}

;


.yellow__footer{
  background: #FBA200;
  padding: 55px 7%;
}

.yellow__footer-contacts {
  display: flex;
  flex-direction: column;
  }

.footer__town {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10%;

  @include phones {
    padding-right: 0;
  }

}
.town__name {
  font-size: 18px;
  text-transform: uppercase;
  color: white;

  @include phones {
    font-size: 14px;
  }

}
.points {
  align-self: center;
  color: white;

  @include phones {
    display: none;
  }
}
.town__tel {
  font-size: 18px;
  text-decoration: none !important;
  color: white;

  @include phones {
    font-size: 14px;
  }

}

.footer__mail {
  margin-top: 20px;
  font-size: 24px;
  text-transform: uppercase;

  & a{
    color: white !important;
    text-decoration: none !important;
  }

  @include phones {
    font-size: 14px;
  }

}

.yellow__footer-form {
  display: flex;
  flex-direction: column;
  align-content: center;

  @include tablets {
    margin-top: 30px;
  }

}

.form__field {
  text-align: center;
}

.form__text {
  font-size: 20px;
  color: white;
  text-align: center;
  margin-bottom: 43px;

}

.form__label {
  width: 100%;
}

.form__input {
  width: 75%;
  padding: 7px 0 7px 0;
  border: none;
  border-radius: 30px;
  font-size: 24px;
  text-align: center;

  @include phones {
    width: 100%;
    font-size: 18px;
  }
}

.footer__tel-input {
  width: 100% !important;
  margin: 0 !important;
}

.form__button {
  text-align: center;
  cursor: pointer;
  width: 75%;
  background: red;
  padding: 7px;
  border: none;
  border-radius: 30px;
  font-size: 24px;
  color: white;

  @include phones {
    width: 100%;
    font-size: 20px;
  }

}

.envelope {
  margin-right: 7%;

  & img {
    width: 30px;
    height: auto;
    margin-bottom: 5px;
  }
}

.black__footer {
  background: #2B2B2B;
  color: white;
  font-size: 18px;
  padding: 55px 7%;

  & a {
    text-decoration: none;
    color: white;
  }
}

.black__footer-left ul, .black__footer-left li {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

.black__footer-left {
  display: flex;
  flex-direction: row;
}

.footer__nav-left {
  flex: 180;

  @include phones {
    padding-right: 25px;
  }
}

.footer__nav-right {
  flex: 420;

}

.black__footer-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.its__time {
  margin-right: 7%;
}

.footer__order {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 140px;

}

.footer__socials {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;

  & p {
    margin-right: 7%;
  }

}

.socials__icon {
  display: flex;
  flex-direction: row;
}

.footer__socials-link {
  width: 35px;
  margin-right: 15px;

  & img {
    max-width: 100%;
    height: auto;
  }
}

.header {

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 40px;

  @include tablets {
    padding-top: 70px;
  }


}

.header__index {
  height: 645px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("../img/header_index.jpg") no-repeat;
  background-position-y: 45%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;



  @include desktop {
    background-position-y: 0;
    background-position-x: 50%;
  }

  @include tablets {
    height: 500px;
    background: url("../img/header_index-mob.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  }

  @include phones {
    padding-bottom: 50px;
  }

}

.header__about {
  height: 635px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("../img/header_about.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position-y: 20%;

  @include tablets {
    height: 500px;
    background: url("../img/header_about-mob.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;

  }

  @include phones {
    padding-bottom: 50px;
  }

}

.header__photobooth {
  height: 645px;
  position: relative;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("../img/photobooth__header.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @include tablets {
    background: url("../img/photobooth__header-mob.jpg") no-repeat;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  }

  @include phones {
    padding-bottom: 50px;
  }

}

.header__franshize {
  height: 465px;
  background: white;
  padding-bottom: 15px;

  @include phones {
    padding: 0 10px;
    height: 90vh;
  }
}

.header__chromakey {
  height: 650px;

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("../img/chromakey__header.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @include tablets {
    background: url("../img/chromakey__header-mob.jpg") no-repeat;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: -250px;
    background-position-y: 80px;

  }

  @include phones {
    padding-bottom: 50px;
  }


}


.header__instaprinter {
  height: 625px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("../img/instaprinter__header.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @include tablets {
    background: url("../img/instaprinter__header-mob.jpg") no-repeat;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  }

  @include phones {
    padding-bottom: 50px;
  }


}

.header__sharstation {
  height: 625px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("../img/header__sharstation.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @include tablets {
    background: url("../img/header__sharstation-mob.jpg") no-repeat;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  @include phones {
    padding-bottom: 50px;
  }

}

.header__props {
  height: 635px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("../img/header__props.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @include tablets {
    background: url("../img/header__props-mob.jpg") no-repeat;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  @include phones {
    padding-bottom: 50px;
  }

}

.header__more {
  height: 635px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("../img/header__more.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @include tablets {
    background: url("../img/header__more-mob.jpg") no-repeat;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  @include phones {
    padding-bottom: 50px;
  }

}

.header__contacts {
  height: 280px;

  & h1, p {
    color: black;
  }
}


.header__logo {
  margin-bottom: 30px;
  width: 260px;

  @include phones {
    width: 190px;
  }

  & img {
    max-width: 100%;
    height: auto;
  }
}

.header__text {
  text-align: center;
  font-size: 30px;
  font-family: "Neo Sans W1G", Optima, sans-serif;
  color: white;
  margin-bottom: 50px;

  &-franshize {
    color: black;
    text-align: center;

    @include tablets {
      margin-bottom: 0;
    }
  }

  @include phones {
    font-size: 20px;
  }

}

.header__order-button {
  font-family: "Neo Sans W1G", Optima, sans-serif;;
  font-size: 22px;
  background: #FB5500;
  padding: 15px 105px;
  border-radius: 37px;
  border: none;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  letter-spacing: 1px;

  @include phones {
    font-size: 16px;
    width: 80%;
    padding: 15px 1%;
  }

}

.main__slogan {
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-family: 'NeoSansW1G-Bold', Optima, sans-serif;
  font-size: 70px;
  color: white;
  margin-bottom: 10px;

  &-about {
    margin-bottom: 0;
  }

  &-smaller {
    font-size: 50px;
  }

  &-franshize {
    color: black;
    font-size: 50px;
    margin-bottom: 5px;

    @include tablets {
      margin-bottom: 10px !important;
      font-size: 42px;
    }

    @include phones {
      font-size: 30px;
    }
  }

  @include tablets {
    font-size: 42px;
    margin-bottom: 60px;
  }

  @include phones {
    font-size: 30px;
    margin-top: 20px;
  }
}

.header__slogan-index {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-family: 'NeoSansW1G-Bold', Optima, sans-serif;
  font-size: 40px;
  color: white;
  margin-bottom: 15px;
  text-align: center;

  @include phones {
    font-size: 22px;
  }
}

.text__section {

  padding: 25px 14% 25px;
  margin: 0;

  & p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Neo Sans W1G", Optima, sans-serif;
  }

  &-franshize {
    color: black;
    padding: 16px 14% 10px;

    @include phones {
      padding: 16px 4% 10px;
    }
  }

  &-center {
    text-align: center;
  }

  &-big {
    text-align: center;
    & p {
      font-size: 36px;
    }
  }

  &-more {
    padding-top: 0;
  }
}

.glasses__girls {
  height: 725px;
  background: url("../img/glasses__girls.jpg") no-repeat;
  background-size: cover;

  @include tablets {
    height: 70vh;
    background: url("../img/glasses__girls-mob.jpg") no-repeat;
    background-size: cover;
  }
}

.glasses__girls2 {

  & img {
    max-width: 100%;
    height: auto;
  }
  //height: 635px;
  //background: url("../img/glasses__girls2.jpg") no-repeat;
  //background-size: cover;
  //
  //@include tablets {
  //  height: 70vh;
  //}
}

.queen {
  & img {
    max-width: 100%;
    height: auto;
  }
  //height: 635px;
  //background: url("../img/queen.jpg") no-repeat;
  //background-size: cover;
  //
  //@include tablets {
  //  height: 70vh;
  //}
}

.bitches {

  & img {
    max-width: 100%;
    height: auto;
  }

  //height: 695px;
  //background: url("../img/bitches.jpg") no-repeat;
  //background-size: cover;
  //
  //@include tablets {
  //  height: 70vh;
  //}
}

.photozone__scheme1 {

  text-align: center;

  & img {
    max-width: 100%;
    height: auto;
  }

  //height: 600px;
  //background: url("../img/photobooth__combine2.jpg") no-repeat;
  //background-size: cover;
  //
  //@include tablets {
  //  height: 70vh;
  //}
}

.ptotobooth__branding {

  text-align: center;

  & img {
    max-width: 100%;
    height: auto;
  }


}

.helloween__girls {
  height: 670px;
  background: url("../img/helloween__girls.jpg") no-repeat;
  background-size: cover;
  background-position-y: 50%;

  @include tablets {
    background: url("../img/helloween__girls-mob.jpg") no-repeat;
    background-size: cover;
    height: 70vh;
    background-position-x: 50%;

  }
}

.handshake__photo {
  height: 615px;
  background: url("../img/handshake__photo.jpg") no-repeat;
  background-size: cover;

  @include tablets {
    height: 70vh;
    background-position-x: 50%;

  }
}

.chromakey__include {
  text-align: center;

  & img {
    max-width: 100%;
    height: auto;
  }
}

.photozone__scheme2 {
  text-align: center;

  & img {
    max-width: 100%;
    height: auto;
  }
}

.chromakey__combine {
  text-align: center;

  & img {
    max-width: 100%;
    height: auto;
  }
}

.instaprinter__combine, .instaprinter__combine2, .instaprinter__combine3, .sharstation__socials, .props__boot, .album, .photobooth__price {
  text-align: center;

  & img {
    max-width: 100%;
    height: auto;
  }
}

.girl_flower {
  text-align: center;

  & img {
    max-width: 100%;
    height: auto;
  }
}

.photobackgrounds__cont {
  display: flex;
  flex-flow: row wrap;
  padding: 0 5%;
}

.photobackgrounds__item {
  flex: 24%;
  margin: 2px;
  height: 190px;

  @include tablets {
    flex: 49%;
  }

  & img {
    width: 100%;
    height: 190px;
  }

  &-red {
    background: #FF000C;
  }

  &-pink {
    background: #FFA6C9;
  }

  &-bezeviy {
    background: #FFD2AD;
  }

  &-yellow {
    background: #F3D738;
  }

  &-green {
    background: #94FFBE;
  }

}

.branding__photobooths {
  padding: 0 9% 40px;
  display: flex;
  flex-flow: row wrap;
}

.branding__photobooth {
  flex: 20%;

  @include tablets {
    flex: 50%;
  }

  @include phones {
    flex: 100%;
  }

  & img {
    max-width: 100%;
    height: auto;
  }

}

.about__order {
  background: #EBECEC;
  padding: 50px 5% 65px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;

}

.about__order-item {
  border-radius: 10px;
  background: white;
  padding: 25px 2% 30px;
  flex: 29%;
  margin: 0 2% 25px;
  display: flex;
  flex-direction: column;

  &:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  }

}

.about__order-title {
  font-family: "Neo Sans W1G", Optima, sans-serif;
  font-size: 24px;
  color: #CD4A43;
  text-align: center;
  margin-bottom: 30px;
}

.about__order-text {
  margin-bottom: 40px;
}

.about__order-button {
  margin-top: auto;
  cursor: pointer;
  text-align: center;

  @include desktop {
    padding: 7px 45px;
  }
}

.logo__big-block {
  display: flex;
  flex-flow: column;
  padding: 0 7% 0;

  & .text__section:first-child {
    text-align: center;
    padding-top: 60px;

  }

  & .text__section:last-child {
    text-align: center;

    padding-bottom: 50px;
  }
}

.logo__big-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.logo__big-item {

  flex: 16%;
  padding: 2%;

  & img {
    max-width: 100%;
    height: auto;
  }

  @include phones {
    flex: 25%;
  }
}

.logophb__section {
  padding: 40px 21% 55px 21%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  @include tablets {
    padding: 40px 10% 0 10%;
  }
}

.logo__cont {
  width: 18%;
  flex: 33%;
  padding: 5%;
  margin-bottom: 5px;
  text-decoration: none !important;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & img {
    max-width: 100%;
    height: auto;
  }

  & h4 {
    margin-top: 35px;
    text-transform: uppercase;
    color: #939292;
    font-family: "Neo Sans W1G", Optima, sans-serif;
    font-size: 24px;

    @include tablets {
      font-size: 16px;
    }
  }

  @include tablets {
    flex: 50%;
  }

}

.logo__slider {
  height: 390px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo__slide {
  height: 386px;
  padding: 0 7% 70px 7%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.bx-wrapper .bx-pager {
  display: none;
}

.bx-wrapper {
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 0;
  border: none;
}

.main__joy {
  padding-top: 60px;
}

.main__joy-title {
  font-family: "Neo Sans W1G", Optima, sans-serif;
  font-size: 24px;
  text-align: center;
  flex: 100%;
}

.joy__img-cont {
  flex: 16%;

  @include phones {
    flex: 33%;
  }

  & img {
    max-width: 75%;
    height: auto;
  }
}

.ticker {
  padding: 0;
}

.ticker__slider {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}

.ticker__slide {
  display: inline-block;
}

.ticker__slide-cont {
  width: 190px;

  & img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.photoboxes {
  display: flex;
  flex-direction: row;
  padding: 10px 15% 50px;

  & img {
    max-width: 100%;
    height: auto;
  }
}

////////////////////////// popup

.popup__order, .franshize__order {
  position: relative;
  display: none;
  z-index: 5;
}

.overlay, .overlay-fr {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__form-order {
  position: fixed;
  width: 57%;
  height: 400px;
  background: white;
  border-radius: 15px;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  @include desktop {
    height: 550px;
  }

  @include phones {
    height: 100vh;
    width: 90%;
  }

}

.popup__title {
  text-transform: uppercase;
  font-size: 50px;
  flex: 649;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  padding-bottom: 0;

  @include desktop {
    font-size: 40px;
  }

  @include tablets {
    font-size: 26px;
    flex: 280;
  }

  @include phones {
    flex: 170;
  }

}

.popup__h2 {
  flex: 293;
  font-size: 30px;
  text-transform: lowercase;

  @include tablets {
    flex: 80;
  }
}

.popup__text {
  flex: 538;
  font-size: 16px;
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  @include phones {
    width: 90%;
  }

}

.popupform-order {
  flex: 587;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 0 0 100px 0;

  @include tablets {
    flex: 410;
  }
}


.order__name-input {
  font-size: 22px;
  padding: 12px;
  border-radius: 33px;
  border: 1px solid #b5b5b5;
  text-align: center;
  width: 100%;

  @include desktop {
    font-size: 20px;
  }

}

.order__tel-input {
  font-size: 24px;
  padding: 12px;
  border-radius: 33px;
  border: 1px solid #b5b5b5;
  text-align: center;
  width: 100%;

  @include desktop {
    font-size: 20px;
  }

}


.form__button-popup {
  width: 50%;
  text-align: center;
  padding: 10px 0;
  font-size: 22px;
  border-radius: 33px;
  background: #FB5500;

  @include tablets {
    margin-top: 10px;
    width: 90%;
  }
}

.close__popup, .close__fr {
  width: 34px;
  cursor: pointer;
  position: absolute;
  font-size: 40px;
  top: 0;
  right: 0;
}

.show {
  display: block;
}

.form-group {
  margin: 0 2%;
  margin-bottom: 15px;
  width: 45%;
  text-align: center;

  @include tablets {
    width: 90%;
    margin-bottom: 0;
  }

}

.contacts__map {
  & img {
    width: 100%;
    height: auto;
  }
}

.franshize__deal {
  text-align: center;
  padding-bottom: 40px;
}

.bx-wrapper .bx-controls-direction a {
  display: none;
}

::-webkit-input-placeholder {
  color: #D4D3D3;
}

::-moz-placeholder {
  color: #D4D3D3;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: #D4D3D3;
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: #D4D3D3;
}