.main__menu {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80px;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;

  @include tablets {
    display: none;
  }
}

.menu__item {
  height: 45px;

  &-active {
    background: #FBD615;

    & a {
      color: black;
    }
  }

  &:hover {
    background: #FBD615;

    & a {
      color: black;
    }
  }
}

.main__menu-link {
  font-family: 'NeoSansW1G', Optima, sans-serif;
  font-weight: bolder;
  font-size: 16px;
  text-decoration: none !important;
  color: black;
}

.menu-item-logo {
  flex: 300;
  display: flex;
  justify-content: center;
  align-items: center;

  & a {
    width: 170px;
    height: 100%;
  }

}

.menu-item-about {
  flex: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.menu-item-servises {
  position: relative;
  flex: 180;
  display: flex;
  justify-content: center;
  align-items: center;

}

.dropdown__services {
  display: none;
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 115%;
  top: 45px;
  left: 0;
  z-index: 2;

  & li {
    margin: 0;
    padding: 0;
  }

  & a {
    display: block;
    padding: 15px 18px;
    background: #FBD615;

    &:hover {
      background: white;
      color: black;
    }
  }
}

.menu-item-servises:hover {
  background: transparent;
}


.menu-item-servises:hover .dropdown__services {
  display: block;
}

.menu-item-franshize {
  flex: 160;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item-contacts {
  flex: 150;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item-order {
  flex: 400;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.order__button, .button-franshize {
  text-align: center;
  border: none;
  cursor: pointer;
  font-family: 'NeoSansW1G', Optima, sans-serif;
  font-weight: bolder;
  font-size: 16px;
  text-decoration: none;
  background: #fb4419;
  padding: 14px 45px 16px;
  border-radius: 30px;
  text-transform: uppercase;
  color: white;

  & span {
    color: black;
  }

  &:hover {
    text-decoration: none;
  }

  &-franshize {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  @include phones {
    font-size: 12px;
  }

}

.menu-item-lg {
  flex: 70;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
  position: relative;


}

.dropdown__lg {
  display: none;
  position: absolute;
  font-family: 'NeoSansW1G', Optima, sans-serif;
  font-weight: bolder;
  font-size: 16px;
  text-decoration: none !important;
  color: black;
  background: #FBD615;
  top: 45px;
  height: 45px;
  padding-top: 9px;
  width: 100%;
  text-align: center;
  left: 0;

  &:hover {
    background: white;
    color: black;
  }
}

.menu-item-lg:hover .dropdown__lg {
  display: block;
}

.dropdown__active {
  background: white !important;
}

///////////////////////////////////

.mobile__header, .mobile__menu-header {
  position: absolute;
  top: 0;
  height: 70px;
  background: white;
  display: none;
  margin-bottom: auto;
  width: 100%;

  @include tablets {
    display: flex;
    flex-direction: row;
  }
}

.mobile__header-logo {
  flex: 80%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablets {
    justify-content: flex-start;
    margin-left: 10px;
  }

  & img {
    height: auto;

    @include tablets {
      width: 33%;
    }

    @include phones {
      width: 65%;
    }
  }

}

.mobile__nav-button {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;

  & span {
    font-size: 40px;
  }

}

.mobile__nav-close {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;

  & span {
    font-size: 40px;
  }

}

.mobile__menu {
  display: none;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
  text-align: center;

  & .mobile__nav-button span {
    font-size: 70px;
  }
}

.mobile__menu-list, .mobile__menu-item {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.mobile__menu-list {
  margin-top: 70px;
  background: white;
  min-height: 100vh;
  height: 750px;
  padding: 40px 0 55px;
}

.mobile__menu-item {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 12%;
}

.mobile__menu-item-active {
  background: #FFA500;
}

.mobile__menu-link {
  text-decoration: none !important;
  font-family: 'NeoSansW1G-Bold', Optima, sans-serif;
  font-size: 16px;
  color: black;

  &-services {

    position: relative;
    opacity: 0.3;



  }

}

.order__button-mobmenu {
  display: block;
  margin: 0 auto;
  margin-top: 41px;
}

.dropdown__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}

.mobile__menu-item-dropdown {
  padding-left: 15%;
}

.show {
  display: block;
}

.hide {
  display: none;
}